.navigation {
	background-color: mediumspringgreen;
	position: fixed;
	/* vw: view width */
	/* view 화면의 20%를 차지한다는 의미 */
	width: 20vw;
	/* vh: view height */
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding-top: 50px;
    /* 창을 축소할 때의 최소 너비 */
	min-width: 150px;
}

.avatar {
	border-radius: 30%;
	width: 50%;
}

.nav-item {
	font-family: "Noto Serif KR", serif;
	font-size: 2.5vw;
	color: black;
	padding-top: 20px;
	text-decoration: none;
}

.nav-item:hover {
	color: mediumseagreen;
}

@media (max-width: 750px) {
	.nav-item {
		font-size: 19px;
	}
}

.main {
	display: grid;
    grid-template-columns: minmax(150px, 20vw) auto;
    font-family: "Noto Serif KR", serif;
}

.column-start {
    /* 두번째 컬럼에서부터 그리드 시작 */
	grid-column-start: 2;
	padding-left: 20px;
	padding-right: 20px;
}

.section {
	min-height: 100vh;
	padding-top: 30px;
}